* { box-sizing: border-box; }
body {
  font-family: 'Rubik', sans-serif;
}

.container {
  display: flex;
  height: 97vh;
}

.leftlog {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  opacity: 1;
  padding: 20px 40px;
  width: 420px;
}

.right {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url(../img/fundolog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: right;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}



.header > h2 {
  margin: 0;
  color: #203364;
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: #564a4a;
}

.form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.form > p {
  text-align: right;
}

.form > p > a {
  color: #203364;
  font-size: 14px;
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-color: #564a4a;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 10px;
}

.form-field:focus {
  border-color: #203364;
}

.btn {
    
  padding: 12px 10px;
  border: 0;
  background: #203364;
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
}
.btn:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.animation {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a1 {
  animation-delay: 1s;
}

.a2 {
  animation-delay: 1.1s;
}

.a3 {
  animation-delay: 1.2s;
}

.a4 {
  animation-delay: 1.3s;
}

.a5 {
  animation-delay: 1.4s;
}

.a6 {
  animation-delay: 1.5s;
}
.a7 {
  animation-delay: 1.6s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes right{
    0%{
        opacity: 0;
        visibility: hidden;
    }
    10%{
        opacity: 0.1;
        visibility: visible;
    }
    20%{
        opacity: 0.2;
        visibility: visible;
    }
    30%{
        opacity: 0.3;
        visibility: visible;
    }
    40%{
        opacity: 0.4;
        visibility: visible;
    }
    50%{
        opacity: 0.5;
        visibility: visible;
    }
    60%{
        opacity: 0.6;
        visibility: visible;
    }
    70%{
        opacity: 0.7;
        visibility: visible;
    }
    80%{
        opacity: 0.8;
        visibility: visible;
    }
    90%{
        opacity: 0.9;
        visibility: visible;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}