*{ margin: 0px; padding: 0px;}

html{
    height: 100vh;
}
.container{
    position: absolute;
    width: 100%;
    height: 86%;
    background-color: rgb(95, 95, 228);
    list-style: none;
}
/* ------------- Contatos -------------- */
.containerDeContatos{
    width:282px;
    height: 104%;
    float: left;
    background-color: #203364;
    list-style: none;
    overflow-y: scroll;
    margin-top: 5%;
    
}
.barraProcura{
    width:200px;
    height: 40px;
    padding-inline-start: 10px;
    margin: 20px;
    border: none;
    font-size: 15px;
    border-color: coral;
    border-radius: 5px;
    outline: 0;
}
.barraProcura:focus{
    border-color: #203364;
}
.lista{
    height: 100%;
    list-style: none;
}
.contato{
    padding-top:3px;
    padding-bottom: 20px;
    list-style: none;
}
.contato:hover{
    background-color: #069;
}
.userPerfil{
    background-image: url(../img/1.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    border: solid 2px coral;
    border-radius: 50%;
    float: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
}
.nome{
    float: left;
    text-align: left;
    margin-left: 80px;
    margin-top: -26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;   
    font-size: 17px;
}
/*------------- Chat Header --------------*/
.containerPrincipal{
    position: relative;
     width: 100vh auto;
     height: 100%;
     margin-top: 5%;
     background-color: #ffffff;
     margin-left: 282px;  
     list-style: none;
}
.chatHeader{
    width: 100%;
    height: 70px;
    background-color: #e8eaf0;
    border-bottom: solid 1px white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.headerConf{
    padding-left: 20px;
    padding-top: 5px;
}
.imgUser{
    background-image: url(../img/1.png);
    background-size: cover;
    width: 55px;
    height: 55px;
    border:solid 2px coral;
    border-radius: 50%;
}
.chatCom{
    float: center;
    margin-left: 70px;
    margin-top: -40px;
    font-size: 19px;
    color: rgb(58, 54, 54);
}
/*-------------- BatePaPo ----------------*/
.chatPapo{
    width: 100%;
    height: 80%;
    float: center;
    background-color: #e8eaf0;
    overflow-y: scroll;
    overflow: hidden; 
    list-style: none;
}
.batePapoLeft{
   list-style: none;
}
.mensagemDele{
    list-style: none;
    max-height: 100vh auto;
    max-width: 70vh; 
    float: left;
    position: relative;
    display: inline-block;
    clear: both;
    background-color: coral; 
    color: white;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    text-align-last: auto;
    border-radius: 10px;
    border-top-left-radius: 50px;  
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 13px 14px;
}
.batePapoRight{
   list-style: none;
}
.mensagemMinha{
    list-style: none;
    max-height: 100vh auto;
    max-width: 70vh;
    float: right;
    position: relative;
    display: inline-block;
    clear: both;
    background-color: #069;  
    color: white;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    border-radius: 10px;
    border-top-right-radius: 50px;    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 13px 15px;
}
/*-------------- TextArea ----------------*/
.areaSendMensagem{
    background-color: #e8eaf0;
    width: 100vh auto;
    height: 100% auto;
    border-top: solid 1px white;
}
.areaSendMensagem textarea{
    position: relative;
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
    outline: none;
    resize: none;
    padding-top: 10px;
    padding-inline-start: 13px; 
    initial-letter-align: left;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
}
.areaSendMensagem textarea:focus{
    border-color: #203364;
}

.btnSend{
    color: #fff;
    float: right;
    border: none;
    padding: 15px;
    margin-top: 9px;
    margin-right: 15px;
    background-color: #203364;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}

.btnSend:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);   
}
@media(max-width:1100px){
    
    .containerDeContatos{
        height: 100%;
        margin-top: 1%;
    }
}
@media(max-width:1000px){
    .containerPrincipal{
        width: 670px;
        position: absolute;
        margin-top:7.5%;
    }
    .containerDeContatos{
        height: 100%;
        margin-top: 7.5%;
    }
}
@media(max-width:500px){
    .containerPrincipal{
        width: 670px;
        position: absolute;
        margin-top:10.5%;
    }
    .containerDeContatos{
        height: 100%;
        margin-top: 10.5%;
    }
}