*{
    margin: 0;
    padding: 0;
}

/* icons */
i{
    padding-right: 8px;
}
/* Css da nav bar */
.cabeça{
    width: 100%;
    height: 10.5%;
    background: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    box-shadow: 0px 0px 7px rgb(216, 215, 215);
    position: fixed;
    z-index: 2;
}
.divLogo{
    float: left;
    margin-left: 15px;  
    margin-top: -20px;  
}
.logo{
    width:200px;
    background-size: cover;
}
.first-nav{
    list-style: none;
    position: relative;
    float: right;
    z-index: 1;
}
.first-nav ul{
    list-style-type: none;
    position: relative;
}
.first-nav ul li {
    list-style: none;
    position: relative;
    width: 280px;
    float: right;
    text-align: right;
}

.first-nav ul ul{
    position: absolute;
    visibility: hidden;
}
.first-nav ul ul li{
    border-bottom: solid 1px rgb(202, 202, 202);
    float:none; 
}
.aNav{
    border: none;
    text-decoration: none;
    color: coral;
    text-align: center;
}
#aNavUm{
    padding-right: 20px;
}
.AMaior{
    padding-left: 35px;
    padding-bottom: 10px;
    display: block;
}
.nameUser{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    color:#069;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    padding-left:20px;
    margin-top: -75px;
}
.aMenu{
    padding: 12px;
    display: block;
    text-decoration: none;
    text-align: left;
    color: #069;
    font-size: 15px;
}
.first-nav ul li:hover ul{
    transition: all .4s;
    visibility: visible;
}
.first-nav ul ul li a{
    border-left: solid 1px rgb(202, 202, 202);
    background-color:#f9f9f9;
}
.first-nav ul ul li a:hover{
    background-color: #f1f0f0;
}
.first-nav ul li ul{
    margin-top: 18.4px;
}
.liNav{
    margin-top:30px;
    padding-bottom: 20px;
}
.ImgPerfil {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    border-radius:50%;
    background-size: cover;
    margin-left: -30px;
    margin-top: 20px;
    float: left;
}
label[for="bt-menu"]{
    padding-right: 15px;
    font-family: Arial;
    text-align: right;
    font-size: 24px;
    cursor: pointer;
    height: 50px;
    display: none;
}
#bt-menu{
    display: none;
}
@media(max-width: 1200px){
    label[for="bt-menu"]{
        display: block;
        margin-top: 15px;
    }
    #bt-menu:checked ~ .first-nav{
        margin-right: 0; 
    }
    .first-nav{
        margin-right: -100%;
        transition: all .4s;
        padding-top: 0px;
        margin-top: 3px;
    }
    .first-nav ul li{
        text-align: center;
        float: none;
        background: white;
    }
    #aNavUm{
        padding-right: 0px;
    }
    .aNav{
        color:coral;
        font-weight: normal;
        line-height: normal;
        padding: 0px;
    }
    .first-nav ul ul li a{
        background-color: #f9f9f9;
        border: solid 1px rgb(217, 237, 247);
        color: #069;
    }
    .first-nav ul ul{
        padding: 0px;
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
        width: 100%;
    }
    .first-nav ul li:hover ul{
        visibility: visible;
        height: auto;
        max-height: 500px;
    }
    .liNav{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 0px;
        border-top: solid 1px rgb(217, 237, 247);
    }
    .divlogo{
        margin-left: 30%;
     }
}
@media(max-width: 511px){
    label[for="bt-menu"]{
        display: block;
        margin-top: 15px;
    }
    #bt-menu:checked ~ .first-nav{
        margin-right: 0; 
    }
    .first-nav{
        margin-right: -100%;
        transition: all .4s;
        padding-top: 0px;
        margin-top: -33px;
    }
    .first-nav ul li{
        text-align: center;
        float: none;
        background: white;
    }
    #aNavUm{
        padding-right: 0px;
    }
    .aNav{
        color:coral;
        font-weight: normal;
        line-height: normal;
        padding: 0px;
    }
    .first-nav ul ul li a{
        background-color: #f9f9f9;
        border: solid 1px rgb(217, 237, 247);
        color: #069;
    }
    .first-nav ul ul{
        padding: 0px;
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
        width: 100%;
    }
    .first-nav ul li:hover ul{
        visibility: visible;
        height: auto;
        max-height: 500px;
    }
    .liNav{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 0px;
        border-top: solid 1px rgb(217, 237, 247);
    }
    .divlogo{
        margin-left: 30%;
     }
}
/* --------------- Perfil -----------------*/
.s {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 10px 0px 0px;
    border: none;
    cursor: pointer;
    width: 10%;
    font-size:20px;
}
#DAs{
    background: url(/Sa-Softcar.com-master/img/icons8-editar-20.png);

}
.btns{
    margin: 0px 0px 0px 60%; 
    margin-top: -20px; 
}
.btnEditImg{
    margin: 0px 0px 0px 20%; 
    margin-top: -20px; 
    
}
.dadosUser, .dadosProf, .dadosTempo, .dadosCont{
    margin-top: 10px;
}
.textosMain{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: coral;
}
.textosSeg{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: #069;
    margin-top: 10px;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
#trocaFoto{
    display: none;
}
#fotoUser[for="trocaFoto"]{
    display: block;
}
.avatar {
    background-size: cover;
    margin-top: -70px;
    margin-left: 42%;
    width: 100px;
	height:100px;
    border-radius: 50%;
}
.modal {
    margin-top: 70px;
    text-align: center;
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}
.close {
    position: absolute;
    right: 8px;
    margin-top: 40px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media(max-width: 1200px){
    .avatar{
        margin-left: 40%;
    }
    .btns{
        margin: 0px 0px 0px 60%; 
        margin-top: -20px; 
    }
    .btnEditImg{
        margin: 0px 0px 0px 30%; 
        margin-top: -20px; 
    }
}

@media(max-width: 820px){
    .avatar{
        margin-left: 35%;
    }
    .btns{
        margin: 0px 0px 0px 0%; 
        margin-top: 10px; 
    }
    .btnEditImg{
        margin: 0px 0px 0px 40%; 
        margin-top: -20px; 
    }
}

@media(max-width: 730px){
    .avatar{
        margin-left: 30%;
    }
    .btns{
        margin: 0px 0px 0px 0%; 
        margin-top: 10px; 
    }
    .btnEditImg{
        margin: 0px 0px 0px 40%; 
        margin-top: -20px; 
    }
}

@media(max-width: 600px){
    .avatar{
        margin-left: 25%;
    }
    .btns{
        margin: 0px 0px 0px 0%; 
        margin-top: 10px; 
    }
    .btnEditImg{
        margin: 0px 0px 0px 40%; 
        margin-top: -20px; 
    }
}


@media(max-width: 485px){
    .avatar{
        margin-left: 20%;
    }
    .btns{
        margin: 0px 0px 0px 0%; 
        margin-top: 10px; 
    }
    .btnEditImg{
        margin: 0px 0px 0px 50%; 
        margin-top: -20px; 
    }
}


/* --------------- Banners --------------- */
.first-divOne{
    position: relative;
    padding-bottom: 40%;
    padding-top: 60px;
}
.first-divOne > div { 
    position: absolute;
}
.slider{
    opacity: 0;
    animation-name: slider;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes slider{

    25%{
        opacity: 1;
       
    }
    29%{
        opacity: 0;
    }
}
.slider:nth-child(1){
   animation-delay: 0s;
}
.slider:nth-child(2){
    animation-delay: 5s;
}
.slider:nth-child(3){
    animation-delay: 10s;
}
.slider:nth-child(4){
    animation-delay: 15s;
}
.mostrarMais{
    width: 100%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.a-mostrarMais{
    color: white;
    text-decoration: none;
    background-color:  rgb(240, 89, 29);
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    border-radius: 0px 0px 80px 80px;
}

/* -------------- Como usar sendo motorista || carona ------------ */
.second-section{
    width: 100%;
}
.tituloUm{
    width: 100%;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(240, 89, 29);
    padding-top: 150px;
}
.tituloDois{
    width: 100%;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(240, 89, 29);
}
.trird-section{
    width: 100%;
    font-family: sans-serif;
    display: flex;
    font-size: 20px; 
    padding-top: 50px;
    padding-bottom: 100px;
}
.forth-section{
    width: 100%;
    font-family: sans-serif;
    display: flex;
    font-size: 20px; 
    padding-top: 50px;
    padding-bottom: 150px;
}
.titulo{
    text-align: center;
    color: #069;
}
.tabela1{
    text-align: center;
    padding: 10px;
    width: 500px;
    color: #496083;
}
.tabela2{
    text-align: center;
    padding: 10px;
    width: 600px;
    color: #496083;
}
.tabela3{
    text-align: center;
    padding: 10px;
    width: 500px;
    color: #496083;
}
@media(max-width: 1000px){
    .tituloUm{
        padding-top: 150px;
    }
    .trird-section{
        display: block;
    }
    .forth-section{
        display: block;
    }
    .tabela1{
       width: 100%;
    }
    .tabela2{
        width: 100%;
    }
    .tabela3{
        width: 100%;        
    }
}
.maps{
    position: relative;
    padding-bottom: 20%;
    padding-top: 0px;
}
.maps > div { 
    position: absolute;
}


/* Roda pé*/
.finish{
    width: 100%;
}
.finish-first{
    width: 100%;
    background: #274c83;
}
.finish-second{
    width: 100%;
    height: 40px;
    font-family: sans-serif;
    font-size: 15px;
    color:white;
    background: #274c83;
}
.finish-second ul{
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 550px;
}
.finish-second ul li{
    float: left;
    padding: 0px 10px 0px 10px;
    list-style: none;
}
#li1{
    border-right: solid 1px white;  
}


