body
{
    background-color: #fff;
    background-image: url(../img/dasd.png); 
    background-size: cover; 
    background-repeat: no-repeat;
}
.centro{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.form {
    max-width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.textos{
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 5px;
    color: coral;
}

.form-field {
    height: 30px;
    padding: 0 8px;
    border: 1px solid #ddd;
    border-color: #564a4a;
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: 0;
    margin-top: 10px;
    padding-inline-start: 15px;
}

.form-field:focus {
    border-color: #069;
}
.form-button{
    outline: none;
    font-weight: bold;
    width: 100%;
    padding: 12px 10px;
    border: 0;
    background: #203364;
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-button:active{
    background-color: #069;
}
.fa-exclamation-circle{
    margin-left: 100%;
    margin-top: -22px;
    padding-left: 5px;
    padding-bottom: 8px;
    color:red;
}

