/* --------------- Perfil -----------------*/
            .s {
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 10px 10px 0px 0px;
                border: none;
                cursor: pointer;
                width: 10%;
                font-size:20px;
            }
            .btns{
                margin: 0px 0px 0px 60%; 
                margin-top: -20px; 
            }
            .btnEditImg{
                margin: 0px 0px 0px 25%; 
                margin-top: -20px; 

            }
            .dadosUser, .dadosProf, .dadosTempo, .dadosCont{
                margin-top: 10px;
            }
            .textosMain{

                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 25px;
                color: coral;
            }
            .textosSeg{

                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 20px;
                color: #069;
                margin-top: 10px;
            }
            .imgcontainer {
                text-align: center;
                margin: 24px 0 12px 0;
                position: relative;
            }
            #trocaFoto{
                display: none;
            }
            #fotoUser[for="trocaFoto"]{
                display: block;
            }
            .avatar {
                background-size: cover;
                margin-top: -70px;
                margin-left: 42%;
                width: 100px;
                height:100px;
                border-radius: 50%;
            }
            .modal {
                margin-top: 100px;
                text-align: center;
                display:inline-block;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                background-color: #ffffff;
            }
            #avatar{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-size: cover;
            }
            .modal-content {
                background-color: #fefefe;
                margin: 4% auto 15% auto;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                width: 40%;
                min-width: 200px;
                padding-bottom: 30px;
                padding-top: 10px;
            }
            .close {
                position: absolute;
                right: 8px;
                margin-top: 40px;
                color: #000;
                font-size: 35px;
                font-weight: bold;
            }
            .close:hover,.close:focus {
                color: red;
                cursor: pointer;
            }
            .animate {
                animation: zoom 0.6s
            }
            @keyframes zoom {
                from {transform: scale(0)} 
                to {transform: scale(1)}
            }

            @media(max-width: 1200px){
                .avatar{
                    margin-left: 40%;
                }
                .btns{
                    margin: 0px 0px 0px 60%; 
                    margin-top: -20px; 
                }
                .btnEditImg{
                    margin: 0px 0px 0px 30%; 
                    margin-top: -20px; 
                }
            }

            @media(max-width: 820px){
                .avatar{
                    margin-left: 35%;
                }
                .btns{
                    margin: 0px 0px 0px 0%; 
                    margin-top: 10px; 
                }
                .btnEditImg{
                    margin: 0px 0px 0px 40%; 
                    margin-top: -20px; 
                }
            }

            @media(max-width: 730px){
                .avatar{
                    margin-left: 30%;
                }
                .btns{
                    margin: 0px 0px 0px 0%; 
                    margin-top: 10px; 
                }
                .btnEditImg{
                    margin: 0px 0px 0px 40%; 
                    margin-top: -20px; 
                }
            }

            @media(max-width: 600px){
                .avatar{
                    margin-left: 25%;
                }
                .btns{
                    margin: 0px 0px 0px 0%; 
                    margin-top: 10px; 
                }
                .btnEditImg{
                    margin: 0px 0px 0px 40%; 
                    margin-top: -20px; 
                }
            }


            @media(max-width: 485px){
                .avatar{
                    margin-left: 20%;
                }
                .btns{
                    margin: 0px 0px 0px 0%; 
                    margin-top: 10px; 
                }
                .btnEditImg{
                    margin: 0px 0px 0px 50%; 
                    margin-top: -20px; 
                }
            }