.oneFooter{
    background-color: #263238 !important;
    font-size: .9rem;
    padding-top: 1.5rem !important;
    bottom: 0;
    color: #fff;
    display: block;
    line-height: 1.5;
    text-align: left;
} 
.pDiv{
    display: flex;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.dois{
    margin-left: 0px;
}

@media (min-width: 768px){
.container {
    max-width: 720px;
}
}

@media (min-width: 576px){
.container {
    max-width: 540px;
}
}

.list{
    text-align: center !important;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.text{
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.linha{
    background-color: #448aff !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 1.5rem !important;
    margin-top: 0 !important;
    display: block !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.item{
    margin-right: 0.5rem;
    display: inline-block;
    text-align: -webkit-match-parent;
    padding-left: 0;
    list-style: none;

}
.btn-item{
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 10px;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 47px;
    height: 47px;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    cursor: pointer;
}    
.twoFooter{
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2);
    text-align: center !important;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    line-height: 1.5;
}
.btn-i{
    display: inline-block;
    width: inherit;
    color: #fff;
    padding-right: 0px;
    text-align: center;
    font-size: 1.25rem;
    line-height: 47px;
    font-style: normal;
    font-variant: normal;
}
@media( max-width:720px){
    .d{
        display: block;
    }
    .dois{
        margin-left: none;
    }
}

